.corpoHumanoSvgModel {
  width: 100%;
  height: 100%;
}

/* Cada parte selecionável */
.itemSvg {
  fill: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: fill 0.2s ease;
}

/* Cada parte selecionável quando tiver hover */
.itemSvg:hover {
  fill: rgba(255, 99, 71, 0.4);
}

/* Quando o item estiver selecionado */
.itemSvg.selecionado {
  fill: #ff6347;
}

/* Linhas dos itens (Utlilzado na silhueta) */
.itemSvgStroke {
  fill: #2c3e50;
  pointer-events: none;
}
